@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src:
    url('/fonts/inter/Inter-Regular.woff2?v=3.19') format('woff2'),
    url('/fonts/inter/Inter-Regular.woff?v=3.19') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src:
    url('/fonts/inter/Inter-Medium.woff2?v=3.19') format('woff2'),
    url('/fonts/inter/Inter-Medium.woff?v=3.19') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src:
    url('/fonts/inter/Inter-SemiBold.woff2?v=3.19') format('woff2'),
    url('/fonts/inter/Inter-SemiBold.woff?v=3.19') format('woff');
}