:root {
  --font-family: 'Inter';
  --logo-font-family: 'Karantina';
  --primary: #05ACDC;
  --blue: #05ACDC;
  --grey: #484848;
  --light-grey: #EAEAEA;
  --header-2-font-size: 32px;
  --header-3-font-size: 28px;
  --header-4-font-size: 24px;
  --header-5-font-size: 20px;
  
  --text-3-font-size: 20px;
  --text-4-font-size: 18px;
  --text-5-font-size: 16px;
  --text-6-font-size: 15px;
}